In [1]:
import re

### Exercise 1

Write a function that takes in a tweet and returns a list of the hashtags in the tweet<br>
Ex. 1<br>
tweet = "Python is the best #Python #Programming #CodingTemple"<br>
Expected Output: ["#Python", "#Programming", "#CodingTemple"]<br>

Ex. 2<br>
tweet = "I love my life! #blessed"<br>
Expected Output: ["#bleesed"]<br>

Ex. 3<br>
tweet = "Bear Down"<br>
Expected Output: []<br>

In [128]:
tweet = "Python is the best #Python #Programming #CodingTemple"
tweet_two = "I love my life! #blessed"
tweet_three = "Bear Down"

def hashtags(tweet):
    pattern = re.compile('#[A-Za-z0-9]+\w')
    return pattern.findall(tweet)

hashtags(tweet)

['#Python', '#Programming', '#CodingTemple']

In [126]:
hashtags(tweet_two)

['#blessed']

In [129]:
hashtags(tweet_three)

[]

### Exercise 2

Write a function that takes in a string and returns it is a Strong password or not. A strong password is at least 8 characters, contains at least one uppercase letter, one lowercase letter, one digit, and one special character (!@#$%^&*)<br>
Ex. 1 <br>
password = "CodingTemple123!"<br>
Expected Output: True<br>

Ex. 2 <br>
password = "password"<br>
Expected Output: False<br>

Ex. 3 <br>
password = "@Bc12"<br>
Expected Output: False<br>

In [134]:
password = "CodingTemple123!"
password_two = "password"
password_three = "@Bc12"

def strong_pass(password):
    if (len(password)<8):
        return False
    elif not re.search('[A-Z]', password):
        return False
    elif not re.search('[a-z]', password):
        return False
    elif not re.search('\d', password):
        return False
    elif not re.search('[!@#$%^&]', password):
        return False
    else:
        return True

strong_pass(password)

True

In [135]:
strong_pass(password_two)

False

In [136]:
strong_pass(password_three)

False

### Exercise 3

Using the Python `open()` function, read in the `example.txt` file (attached in Google Classroom, make sure it is in the same folder as this notebook). Create a pattern that will find all of the dates in the text. Dates are in the format of YYYY-MM-DD. The pattern should have groups for year, month, and day. Using the `.finditer()` method, iterate over the dates and print in format of month/day/year<br>

Output:
```
05/15/1990
09/20/2015
12/03/1985
06/18/2010
11/30/2002
08/10/1978
04/25/1992
07/07/2019
02/12/1980
03/22/2005
```

In [99]:
with open('example.txt') as new_file:
    data_str = new_file.read()
    

data_str

"Daniel Martinez was born on 1990-05-15. He later married Elizabeth Anderson on 2015-09-20.\n\nAlice Johnson's birthdate is 1985-12-03, and she got her degree on 2010-06-18.\n\nMichael Brown's graduation date is 2002-11-30. He celebrated his birthday on 1978-08-10.\n\nEmily Wilson was born on 1992-04-25. She completed her Ph.D. on 2019-07-07.\n\nSarah Clark's birthdate is 1980-02-12. She joined the company on 2005-03-22.\n\n"

In [118]:
date_pattern = re.compile('(\d{4})-(\d{2})-(\d{2})')
print(date_pattern.findall(data_str))
print('='*100)
print(date_pattern.finditer(data_str))

[('1990', '05', '15'), ('2015', '09', '20'), ('1985', '12', '03'), ('2010', '06', '18'), ('2002', '11', '30'), ('1978', '08', '10'), ('1992', '04', '25'), ('2019', '07', '07'), ('1980', '02', '12'), ('2005', '03', '22')]
====================================================================================================
<callable_iterator object at 0x000002561243C100>

In [120]:
for date in date_pattern.finditer(data_str):
    print(f'{date.group(2)}/{date.group(3)}/{date.group(1)}')

05/15/1990
09/20/2015
12/03/1985
06/18/2010
11/30/2002
08/10/1978
04/25/1992
07/07/2019
02/12/1980
03/22/2005